# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
adagio=0.2.6=pypi_0
aiosignal=1.3.2=pypi_0
anyio=4.6.0=pypi_0
appdirs=1.4.4=pypi_0
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
arrow=1.3.0=pypi_0
asttokens=2.4.1=pyhd8ed1ab_0
async-lru=2.0.4=pypi_0
attrs=24.2.0=pypi_0
babel=2.16.0=pypi_0
beautifulsoup4=4.12.3=pypi_0
bleach=6.1.0=pypi_0
bzip2=1.0.8=h2bbff1b_6
ca-certificates=2024.9.24=haa95532_0
catboost=1.2.7=pypi_0
certifi=2024.8.30=pypi_0
cffi=1.17.1=pypi_0
charset-normalizer=3.4.0=pypi_0
click=8.1.8=pypi_0
cloudpickle=3.0.0=pypi_0
colorama=0.4.6=pyhd8ed1ab_0
comm=0.2.2=pyhd8ed1ab_0
commonmark=0.9.1=pypi_0
console_shortcut=0.1.1=haa95532_6
contourpy=1.3.1=pypi_0
coreforecast=0.0.12=pypi_0
css-inline=0.14.6=pypi_0
cycler=0.12.1=pypi_0
dask=2024.12.1=pypi_0
dask-expr=1.1.21=pypi_0
dayplot=0.2.2=pypi_0
debugpy=1.6.7=py312hd77b12b_0
decorator=5.1.1=pyhd8ed1ab_0
defusedxml=0.7.1=pypi_0
exceptiongroup=1.2.2=pyhd8ed1ab_0
executing=2.1.0=pyhd8ed1ab_0
expat=2.6.3=h5da7b33_0
faicons=0.2.2=pypi_0
fastjsonschema=2.20.0=pypi_0
feature-engine=1.8.2=pypi_0
filelock=3.16.1=pypi_0
fonttools=4.57.0=pypi_0
fqdn=1.5.1=pypi_0
frozenlist=1.5.0=pypi_0
fs=2.4.16=pypi_0
fsspec=2024.9.0=pypi_0
fugue=0.9.1=pypi_0
great-tables=0.15.0=pypi_0
h11=0.14.0=pypi_0
holidays=0.58=pypi_0
htmltools=0.6.0=pypi_0
httpcore=1.0.6=pypi_0
httpx=0.27.2=pypi_0
idna=3.10=pypi_0
importlib-metadata=8.5.0=pyha770c72_0
importlib-resources=6.5.2=pypi_0
ipykernel=6.29.5=pyh4bbf305_0
ipython=8.27.0=pyh7428d3b_0
ipywidgets=8.1.5=pypi_0
isoduration=20.11.0=pypi_0
jedi=0.19.1=pyhd8ed1ab_0
jinja2=3.1.4=pypi_0
joblib=1.4.2=pypi_0
json5=0.9.25=pypi_0
jsonpointer=3.0.0=pypi_0
jsonschema=4.23.0=pypi_0
jsonschema-specifications=2024.10.1=pypi_0
jupyter=1.1.1=pypi_0
jupyter-console=6.6.3=pypi_0
jupyter-events=0.10.0=pypi_0
jupyter-lsp=2.2.5=pypi_0
jupyter-server=2.14.2=pypi_0
jupyter-server-terminals=0.5.3=pypi_0
jupyter_client=8.6.3=pyhd8ed1ab_0
jupyter_core=5.7.2=py312haa95532_0
jupyterlab=4.2.5=pypi_0
jupyterlab-pygments=0.3.0=pypi_0
jupyterlab-server=2.27.3=pypi_0
jupyterlab-widgets=3.0.13=pypi_0
kiwisolver=1.4.8=pypi_0
krb5=1.21.3=hdf4eb48_0
libffi=3.4.4=hd77b12b_1
libsodium=1.0.20=hc70643c_0
llvmlite=0.43.0=pypi_0
locket=1.0.0=pypi_0
markupsafe=3.0.1=pypi_0
matplotlib=3.10.1=pypi_0
matplotlib-inline=0.1.7=pyhd8ed1ab_0
mistune=3.0.2=pypi_0
msgpack=1.1.0=pypi_0
nbclient=0.10.0=pypi_0
nbconvert=7.16.4=pypi_0
nbformat=5.10.4=pypi_0
nest-asyncio=1.6.0=pyhd8ed1ab_0
notebook=7.2.2=pypi_0
notebook-shim=0.2.4=pypi_0
numba=0.60.0=pypi_0
numpy=2.0.0=pypi_0
openssl=3.3.2=h2466b09_0
outlier-utils=0.0.5=pypi_0
overrides=7.7.0=pypi_0
packaging=24.2=pypi_0
pandas=2.2.3=pypi_0
pandas-stubs=2.2.3.241009=pypi_0
pandocfilters=1.5.1=pypi_0
parso=0.8.4=pyhd8ed1ab_0
partd=1.4.2=pypi_0
patsy=0.5.6=pypi_0
pickleshare=0.7.5=py_1003
pillow=11.1.0=pypi_0
pip=24.2=py312haa95532_0
platformdirs=4.3.6=pyhd8ed1ab_0
plotly=5.24.1=pypi_0
prometheus-client=0.21.0=pypi_0
prompt-toolkit=3.0.47=pyha770c72_0
protobuf=5.29.2=pypi_0
psutil=5.9.0=py312h2bbff1b_0
pure_eval=0.2.3=pyhd8ed1ab_0
pyarrow=17.0.0=pypi_0
pycparser=2.22=pypi_0
pyfonts=0.0.2=pypi_0
pygments=2.18.0=pyhd8ed1ab_0
pypalettes=0.1.5=pypi_0
pyparsing=3.2.3=pypi_0
python=3.12.5=h14ffc60_1
python-dateutil=2.9.0.post0=pypi_0
python-graphviz=0.20.3=pypi_0
python-json-logger=2.0.7=pypi_0
pytz=2024.2=pypi_0
pywin32=305=py312h2bbff1b_0
pywinpty=2.0.13=pypi_0
pyyaml=6.0.2=pypi_0
pyzmq=25.1.2=py312hd77b12b_0
ray=2.40.0=pypi_0
referencing=0.35.1=pypi_0
requests=2.32.3=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rpds-py=0.20.0=pypi_0
scikit-learn=1.5.2=pypi_0
scipy=1.14.1=pypi_0
seaborn=0.13.2=pypi_0
send2trash=1.8.3=pypi_0
setuptools=75.1.0=py312haa95532_0
six=1.17.0=pypi_0
sniffio=1.3.1=pypi_0
soupsieve=2.6=pypi_0
sqlite=3.45.3=h2bbff1b_0
stack_data=0.6.2=pyhd8ed1ab_0
statsforecast=1.7.8=pypi_0
statsmodels=0.14.4=pypi_0
swifter=1.4.0=pypi_0
tenacity=9.0.0=pypi_0
terminado=0.18.1=pypi_0
threadpoolctl=3.5.0=pypi_0
tinycss2=1.3.0=pypi_0
tk=8.6.14=h0416ee5_0
toolz=1.0.0=pypi_0
tornado=6.4.1=py312h827c3e9_0
tqdm=4.66.5=pypi_0
traitlets=5.14.3=pyhd8ed1ab_0
triad=0.9.8=pypi_0
types-python-dateutil=2.9.0.20241003=pypi_0
types-pytz=2024.2.0.20241003=pypi_0
typing_extensions=4.12.2=pyha770c72_0
tzdata=2024.2=pypi_0
ucrt=10.0.22621.0=h57928b3_0
uri-template=1.3.0=pypi_0
urllib3=2.2.3=pypi_0
utilsforecast=0.2.5=pypi_0
vc=14.40=h2eaa2aa_1
vc14_runtime=14.40.33810=ha82c5b3_21
vs2015_runtime=14.40.33810=h3bf8584_21
wcwidth=0.2.13=pyhd8ed1ab_0
webcolors=24.8.0=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.8.0=pypi_0
wheel=0.44.0=py312haa95532_0
widgetsnbextension=4.0.13=pypi_0
xgboost=2.1.3=pypi_0
xz=5.4.6=h8cc25b3_1
zeromq=4.3.5=he1f189c_5
zipp=3.20.2=pyhd8ed1ab_0
zlib=1.2.13=h8cc25b3_1
